body {
  margin: 0;
}

.menu {
  &__list {
    list-style: none;
    margin: 0.3125rem;
    padding: 0;
  }
  &__item {
    padding: 0 0.3125rem;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    color: #666;
    cursor: pointer;
    @each $state in (':hover', ':focus', ':active') {
      &#{$state} {
        filter: brightness(0.8) contrast(0.8) grayscale(0.8);
        color: #999;
      }
    }
    &.disabled,
    &[disabled] {
      color: #999;
      cursor: not-allowed;
    }
  }
}
